{% extends 'base.html' %}
{% block title %}首页{% endblock %}

{% block left %}
    <div id="main">
        {% for article in current_page %}
        <article class="article article-type-post">
            <div class="article-meta">
                <a class="article-date">
                    <time>{{ article.create_time|date:'Y-m-d H:i:s' }}</time>
                </a>
                <div class="article-category">
                    <a class="article-category-link" href="#" target="_blank">{{ article.category.cname }}</a>
                </div>
            </div>
            <div class="article-inner">
                <header class="article-header">
                    <h1 itemprop="name">
                        <a class="article-title" href="#" target="_blank">{{ article.title }}</a>
                    </h1>
                </header>
                <div class="article-entry" itemprop="articleBody">
                    <h2>简介</h2>
                    <hr>
                    {{ article.brief }}
                    <p class="article-more-link">
                        <a href="/post/{{ article.id }}" target="_blank">阅读全文</a>
                    </p>
                </div>
                <footer class="article-footer">
                    <a data-url="存放文章的url" class="article-share-link">分享</a>
                    <ul class="article-tag-list">
                        {% for tag in article.tags.all %}
                            <li class="article-tag-list-item">
                                <a class="article-tag-list-link" href="#">{{ tag.tname }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </footer>
            </div>
        </article>
        {% endfor %}

        <nav id="page-nav">
            {% if current_page.has_previous %}
                <a class="extend prev" rel="prev" href="/category/{{ cid }}/{{ current_page.previous_page_number }}">Prev »</a>
            {% endif %}

            {% for page in page_list %}
                {% if page == current_num %}
                    <span class="page-number current">{{ page }}</span>
                {% else %}
                    <a class="page-number" href="/category/{{ cid }}/{{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if current_page.has_next %}
                <a class="extend next" rel="next" href="/category/{{ cid }}/{{ current_page.next_page_number }}">Next »</a>
            {% endif %}
        </nav>

    </div>
{% endblock %}