{% extends 'base.html' %}
{% load tags %}
{% block left %}
    <div id="main">
        <article class="article article-type-post">
            <div class="article-meta">
                <a class="article-date">
                    <time>{{ post.create_time|date:'Y-m-d H:i:s' }}</time>
                </a>
                <div class="article-category">
                    <a class="article-category-link" href="#" target="_blank">{{ post.category.cname }}</a>
                </div>
            </div>
            <div class="article-inner">
                <h1>{{ post.title }}</h1>
                <hr>
                <h2>{{ post.brief }}</h2>
                <hr>
                <p>{{ post.content|md|safe }}</p>
                <footer class="article-footer">
                    <a data-url="存放文章的url" class="article-share-link">分享</a>
                </footer>
            </div>
            <div class="bdsharebuttonbox" data-tag="share_1">
                <a class="bds_mshare" data-cmd="mshare"></a>
                <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                <a class="bds_tsina" data-cmd="tsina"></a>
                <a class="bds_baidu" data-cmd="baidu"></a>
                <a class="bds_renren" data-cmd="renren"></a>
                <a class="bds_tqq" data-cmd="tqq"></a>
            </div>
        </article>
    </div>
{% endblock %}